/* 1025 */
@media (max-width: 1030px) {
  .hero::before {
    width: 400px;
    height: 500px;
    right: 0;
    bottom: -220px;
  }

  .benefits::before {
    width: 400px;
    height: 500px;
    left: 0;
    top: 50%;
  }

  .numbers::before,
  .news::before,
  .contacts::before {
    width: 400px;
    height: 500px;
  }

  .benefits {
    padding: 90px 0;
  }

  .benefits .texts {
    padding: 40px 0;
  }

  .benefits .wrapper {
    padding-top: 80px;
    flex-wrap: wrap;
  }

  .services .wrapper {
    flex-wrap: wrap;
    height: 100%;
    gap: 50px;
  }

  .services .wrapper .item {
    width: 300px;
  }

  .features .wrapper {
    flex-wrap: wrap;
  }

  .features .wrapper .image-block {
    height: 500px;
  }

  .features .wrapper .text-content {
    padding-left: 100px;
  }

  .news .wrapper .card {
    width: 300px;
  }

  .contacts .maps {
    flex-wrap: wrap;
  }
}

/* 900 */
@media (max-width: 900px) {

  .header .container .menu,
  .header .container .btns {
    display: none;
  }

  .header .container .burger {
    display: block;
  }

  .contacts .maps .item .map {
    width: 350px;
    height: 250px;
  }
}

/* 770 */
@media (max-width: 770px) {
  .hero {
    padding: 150px 0;
  }

  .hero .container .content h1 {
    max-width: max-content;
    margin: 0 auto;
    font-size: 40px;
  }

  .hero .container .content p {
    padding: 30px 0;
  }

  .hero::before {
    width: 250px;
    height: 310px;
    right: 0;
    bottom: -100px;
  }

  .benefits {
    padding: 90px 0;
  }

  .benefits::before {
    width: 250px;
    height: 310px;
  }

  .services .wrapper .item {
    width: 250px;
  }

  .numbers::before,
  .news::before,
  .contacts::before {
    width: 250px;
    height: 310px;
  }


  .features .wrapper .image-block {
    height: 350px;
  }

  .features .wrapper .text-content {
    padding-left: 20px;
  }

  .news .wrapper .card,
  .news .wrapper .card .image-block {
    width: 300px;
  }

  .questions .wrapper .item {
    width: 100%;
  }

  .contacts .info .text {
    width: 100%;
  }

  .contacts .maps .item .map {
    width: 300px;
    height: 200px;
  }

  .footer .container .logo:last-child{
    display: none;
  }

}

/* 500 */
@media (max-width: 500px) {
  .btn.white {
    padding: 10px 30px;
  }

  .header .container .logo {
    width: 70px;
  }

  .header .container .burger {
    font-size: 30px;
  }

  .hero {
    padding: 100px 0;
  }

  .hero .container .content h1 {
    font-size: 35px;
  }

  .hero .container .content p {
    font-size: 16px;
  }

  .services .wrapper {
    gap: 20px;
  }

  .services .wrapper .item {
    width: 200px;
  }

  .brands .container {
    padding: 50px 0;
  }

  .contacts {
    padding: 40px 0;
  }

  .contacts .maps .item h2 {
    font-size: 22px;
    padding-bottom: 12px;
  }
  
  .footer .container {
    justify-content: center;
    gap: 30px;
    padding: 25px 15px;
  }

}

/* 400 */
@media (max-width: 400px) {
  .hero::before {
    width: 170px;
    height: 210px;
    right: 0;
    bottom: -50px;
  }

  .features .wrapper .text-content ul,
  .features .wrapper .text-content li {
    list-style: circle;
  }

  .features .wrapper .text-content ul li .line {
    display: none;
  }

  .news .wrapper .card {
    width: 220px;
  }

  .news .wrapper .card .image-block {
    width: 220px;
    height: 200px;
  }
}