:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #D5D5D5;
  /* --white: '#ffffff'; */
  /* --white: '#ffffff'; */
  /* --white: '#ffffff'; */
  /* --white: '#ffffff'; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: rgba(0, 0, 0, 0.8);
  color: var(--white);
}

/* General */
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.container.min {
  width: 100%;
  max-width: 930px;
}

.btn.white {
  padding: 10px 70px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: var(--white);
  text-transform: capitalize;
}

.site-title {
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
}

.subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

/* Header */
.header {
  padding: 10px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .logo {
  width: 120px;
}

.header .container .logo img {
  width: 100%;
  height: 100%;
}

.header .container .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.header .container .mobile__menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.4s;
  transform: translateX(-100%);
}

.header .container .mobile__menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.header .container .menu .link,
.header .container .mobile__menu ul .link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--white);
}

.header .container .burger {
  display: none;
  font-size: 40px;
  position: relative;
  z-index: 999;
}

.header .container .burger .fa-times {
  display: none;
}

/* Hero */
.hero {
  background: rgba(0, 0, 0, 0.7) url(../images/hero-bg.png) no-repeat center / cover;
  text-align: center;
  padding: 250px 0;
  position: relative;
  z-index: 5 !important;
}

.hero::before {
  content: '';
  width: 600px;
  height: 750px;
  position: absolute;
  right: 0;
  z-index: -10;
  bottom: -375px;
  background: url(../images/flower.svg) no-repeat center / cover;
  opacity: 0.05;
}

.hero .container .content h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
}

.hero .container .content p {
  padding: 25px 0 50px;
  font-size: 20px;
  line-height: 24px;
}

/* Register */

/* Benefits */
.benefits {
  padding: 130px 0;
  position: relative;
}

.benefits::before {
  content: '';
  width: 600px;
  height: 750px;
  position: absolute;
  z-index: -10;
  left: 0;
  bottom: 0;
  background: url(../images/flower.svg) no-repeat center / cover;
  transform: rotate(180deg);
  opacity: 0.05;
}

.benefits .site-title {
  max-width: 752px;
  padding-bottom: 60px;
}

.benefits .texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  border-top: 3px solid var(--white);
  padding: 60px 0;
}

.benefits .texts .subtitle {
  font-size: 16px;
  line-height: 24px;
  max-width: 572px;
}

.benefits .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 100px;
}

.benefits .wrapper .item {
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.benefits .wrapper .item .icon {
  font-size: 30px;
}

.benefits .wrapper .item .text h3 {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 24px;
}

.benefits .wrapper .item .text p {
  font-size: 16px;
  line-height: 24px;
}

/* Services */
.services {
  text-align: center;
}

.services .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin: 70px 0;
  height: 400px;
}

.services .wrapper .item {
  width: 450px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.services .wrapper .item:hover {
  transform: translateY(-35px);
}

.services .wrapper .item:hover h3 {
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 5px;
}

.services .wrapper .item .image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .wrapper .item h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  padding-top: 30px;
  transition: 0.3s;
}

/* Numbers */
.numbers {
  margin: 100px 0;
  text-align: center;
  position: relative;
}

.numbers::before {
  content: '';
  width: 600px;
  height: 750px;
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: -10;
  background: url(../images/flower.svg) no-repeat center / cover;
  opacity: 0.05;
}

.numbers .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 60px;
  gap: 25px;
}

.numbers .wrapper .item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.numbers .wrapper .item .num {
  width: 130px;
  height: 130px;
  border: 3px solid #CEB194;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers .wrapper .item .num p {
  font-size: 40px;
  line-height: 40px;
}

.numbers .wrapper .item p {
  font-size: 10px;
  line-height: 10px;
}

/* Comments */
.comments {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url(../images/comments-bg.png) no-repeat center / cover;
  padding: 130px 0;
  text-align: center;
}

.comments .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 60px 0;
}

.comments .wrapper .item {
  text-align: left;
  width: 360px;
}

.comments .wrapper .item p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: var(--gray);
}

.comments .wrapper .item .user {
  padding-top: 80px;
  text-align: center;
}

.comments .wrapper .item .user p {
  font-size: 10px;
  line-height: 10px;
  padding-top: 10px;
}

/* Brands */
.brands .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 100px 0;
}

/* Features */
.features .wrapper {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.features .wrapper .image-block {
  max-width: 910px;
  height: 652px;
}

.features .wrapper .image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features .wrapper .text-content {
  max-width: 465px;
}

.features .wrapper .text-content .title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.features .wrapper .text-content .text {
  padding: 20px 0;
  font-size: 16px;
  line-height: 24px;
}

.features .wrapper .text-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  padding-bottom: 80px;
}

.features .wrapper .text-content ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.features .wrapper .text-content ul li .line {
  width: 77px;
  height: 2px;
  background: #110E0E;
}

/* News */
.news {
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.news::before {
  content: '';
  width: 600px;
  height: 750px;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: -10;
  background: url(../images/flower.svg) no-repeat center / cover;
  opacity: 0.05;
  transform: rotate(180deg);
}

.news hr {
  height: 3px;
  background-color: var(--white);
  margin: 15px 0;
}

.news .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 30px;
}

.news .wrapper .card {
  width: 350px;
  transition: 0.3s;
}

.news .wrapper .card:hover {
  transform: translateY(-35px);
}

.news .wrapper .card .image-block {
  width: 350px;
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
}

.news .wrapper .card .image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news .wrapper .card .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 0 10px;
}

/* Questions */
.questions {
  text-align: center;
}

.questions .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 60px 0;
}

.questions .wrapper .item {
  width: 45%;
  text-align: left;
}

.questions .wrapper .item .question {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 25px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Contacts */
.contacts {
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.contacts::before {
  content: '';
  width: 600px;
  height: 750px;
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: -10;
  background: url(../images/flower.svg) no-repeat center / cover;
  opacity: 0.05;
}

.contacts .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: left;
  padding: 60px 0;
}

.contacts .info .text {
  width: 35%;
}

.contacts .info .text h3 {
  font-size: 20px;
  font-weight: 400;
}

.contacts .info .text span {
  font-size: 17px;
  font-weight: 400;
}

.contacts .maps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contacts .maps .item h2 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 30px;
}

.contacts .maps .item .map {
  width: 380px;
  height: 300px;
}

.contacts .maps .item .map iframe {
  width: 100%;
  height: 100%;
}

/* Footer */
.footer {
  background: #141111;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 15px;
}

.footer .container .info {
  text-align: center;
}

.footer .container .info h2 {
  color: #212529;
  font-size: 40px;
  line-height: 40px;
}

.footer .container .info .socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 0;
}

.footer .container .info .socials ul li a {
  color: #212529;
  font-size: 28px;
}

.footer .container .info .copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Register */
.register {
  text-align: center;
  padding: 100px 0;
  position: relative;
  z-index: 10;
}

.register .container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 60px 0;
}

.register form input {
  width: 350px;
  border: none;
  outline: none;
  margin: 5px 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  background: none;
  color: var(--white);
  border-bottom: 1px solid white !important;
}

.register form .counter {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white !important;
}

.register form .counter input {
  width: 100%;
  font-size: 20px;
  border-bottom: 0 !important;
  text-align: center;
}

.register span {
  cursor: pointer;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register form .counter .minus,
.register form .counter .plus {
  width: 25px;
  height: 25px;
}

.register .number1,
.register .number2,
.register .number3 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.register .number::-webkit-outer-spin-button,
.register .number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.register input[type="number"] {
  -moz-appearance: textfield;
}

.register input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../images/calendar.svg) no-repeat;
  width: 25px;
  height: 25px;
  border-width: thin;
}